
    

body {
    background-color: rgb(252, 230, 168);
    margin: 0;

}
#title{
    text-align: center;
    margin-bottom: 10vh;
    margin-top: 5%;
    font-size: 50px;
    font-weight: bold;
    color: darkslategray
}
@media screen and (max-width: 768px){
    #title{
        font-size: 30px;
    }
}

#app{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dot{
    opacity: 0.5;
}
.dot:hover {
    opacity: 1;
}
#tooltip {
    position: absolute;
    min-width: 120px;
    height: auto;
    background-color: mintcream;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: darkslategray;
    text-align: left;
}


